.img-container {
    width: 150px;
    height: 350px;
    overflow: hidden;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-container:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    border-radius: 15px;
}

.mtb-50 {
    margin-top: 90px;
    margin-bottom: 100px;
}

body {
    background-color: #2a3439;
}

.bgn-light {
    background-color: #2a3439;
}

.avatar-user {
    width: 350px;

}
.avatar-user:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    border-radius: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}


.col-3 img,.col-2 img  {
    object-fit: cover;
    transition: all 0.3s;
}

.col-3 img:hover,.col-2 img:hover  {
    transform: scale(1.1);
}

.card-title {
    margin-top: 6px;
    margin-bottom: 6px;
}

.profile-pic {
    width: 80px;
    height: 80px;
}

.commnent {
    width: 100%;
}

.width-100px {
    width: 200px;
    height: 40px;
}

.width-200 {
    width: 400px;
    height :auto;
}

.content-bg {
    background-color: #18181B;
    height: 45px;
    border-radius: 8px;
}


.rating {
    font-size: 24px;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.star {
    display: inline-block;
}

.star:hover,
.star.active {
    color: #EDBB0E;
}

.rating .star.active {
    color: #EDBB0E;
}



.top-left-placeholder::placeholder {
    text-align: left;
    padding-top: 0px;
}
.right-corner {
    position: absolute;
    right: 0;
}

#toast-container .toast-success {
    background-color: cadetblue;
    color: white;
    border: 0;
}

#toast-container .toast-error {
    background-color: #d63031;
}