<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: layout(~{::title},~{::#css},~{::#content},~{::#js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog edit</title>
    <th:block id="css">
    <!--    summer note-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block id="content">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/admin/dashboard">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/admin/blog">Blog</a>
                                </li>
                                <li class="breadcrumb-item active" th:text="'Sửa bài viết ' + ${blog.id}">
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

    <!-- Main content -->
        <section class="content" >
            <form id="blogForm">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group col-10">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" id="title" th:value="${blog.title}" placeholder="Enter title">
                            </div>
                            <div class="form-group col-2">
                                <label for="status">Status</label>
                                <select id="status" class="form-control" th:value="${blog.status}">
                                    <option value="0">Nháp</option>
                                    <option value="1">Công Khai</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                        <textarea name="description" type="text" class="form-control" id="description" th:text="${blog.description}" placeholder="Enter description"></textarea>                        </div>
                        <div class="form-group">
                            <p class="text-bold">Content</p>
                            <div id="summernote" th:attr="data-content=${blog.content}"></div>
                        </div>

                    </div>
                    <div class="col-4">
                        <p class="text-bold">Thumbnail</p>
                        <img id="avatar" class="rounded avatar-user" th:src="${blog.getThumbnail()}" alt="avatar" style="" onclick="document.getElementById('fileInput').click()">
                        <input id="fileInput" type="file" style="display: none;" onchange="loadFile(event)">
                        <button type="submit" class="btn btn-primary mt-4">Sửa</button>
                        <button type="button" id="delete"  class="btn btn-danger ml-2 mt-4">
                            Xoá
                        </button>

                    </div>

                </div>
            </form>
        </section>
        </div>
    </th:block>
    </div>


<th:block id="js">

<!--summer note-->
<!-- include summernote css/js -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!--Jquery validate-->

<script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

<script th:inline="javascript">
    const curUser = [[${(#authentication.principal).getUser()}]];
    const blogId = [[${blog.id}]];
</script>


<script>
    //Initialize Select2 Elements
    $(".select2").select2();

    $(document).ready(function () {
        var content = $('#summernote').data('content');
        $('#summernote').summernote({
            placeholder: 'Enter Content',
            tabsize: 2,
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        }).summernote('code', content);
    });

    function loadFile(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('avatar');
            output.src = reader.result;
        };
        console.log(event.target.files[0])
    }

    // JavaScript
    const fileInput = document.getElementById('fileInput');
    fileInput.addEventListener('change', function (event) {
        const files = event.target.files;

        // Create a FormData object and append the file
        var formData = new FormData();
        formData.append('avatar', files[0]);

        // Send a POST request to the API
        axios.post('/api/admin/blog/' + blogId +'/upload', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }).then(function (response) {
            console.log(response);
            toastr.success("Cập nhật thumbnail thành công");
            setTimeout(() => {
                window.location.reload();
            }, 2000);
        }).catch(function (e) {
            console.error(e);
            toastr.error(e.response.data.message);
        });
    });



    </script>
        <script>

        const title = document.getElementById('title');
        const description = document.getElementById('description');
        let status = document.getElementById('status').value === "1";
        const content = document.getElementById('summernote');
        const deleteBtn = document.getElementById('delete');

        $('#blogForm').validate({
        rules: {
        title: {
        required: true,
        minlength: 5
    },
        description: {
        required: true,
        minlength: 10
    },
    },
        messages: {
        title: {
        required: "Please enter a title",
        minlength: "Your title must consist of at least 5 characters"
    },
        description: {
        required: "Please enter a description",
        minlength: "Your description must consist of at least 10 characters"
    },
    },
        errorElement: 'span',
        errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
    },
        highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
    },
        unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
    }
    });


        document.addEventListener("DOMContentLoaded", function() {
            const formBlog = document.getElementById('blogForm');

        formBlog.addEventListener('submit', async (e) => {
            e.preventDefault();

            if (!$('#blogForm').valid()) {
                return;
            }
                const data = {
                title: title.value,
                description: description.value,
                status: status,
                content: content.value,
            };
            try {
                const res = await axios.put(`/api/admin/blog/${blogId}`, data,);
                toastr.success('Update blog successfully');
                setTimeout(() => {
                    window.location.reload();
                }, 2000);
            } catch (e) {
                console.log(e)
                toastr.error(e.response.data.message);
            }
        });

        deleteBtn.addEventListener('click', async () => {
        try {
        const res = await axios.delete(`/api/admin/blog/${blogId}`);
        toastr.success('Delete blog successfully');
        window.location.href = '/admin/blog';
    } catch (e) {
            console.log(e);
        toastr.error('Delete blog failed');
    }

    });
    });
</script>
</th:block>
</body>

</html>