<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: layout(~{::title},~{::#css},~{::#content},~{::#js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tạo phim</title>
    <th:block id="css">

        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css" />
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block id="content">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movie">Phim</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tạo phim
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content" >
            <form id="movieForm">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group col-10">
                                <label for="title">Tên phim</label>
                                <input name="title" type="text" class="form-control" id="title" placeholder="Enter name">
                            </div>
                            <div class="form-group col-2">
                                <label for="status">Status</label>
                                <select id="status" class="form-control ">
                                    <option value="0">Nháp</option>
                                    <option value="1">Công Khai</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" type="text" class="form-control" id="description" placeholder="Enter description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="url_movie">Url trailer</label>
                            <input name="movie" type="text" class="form-control" id="url_movie" placeholder="Enter url movie">
                        </div>
                        <div class="form-group">
                            <label for="release_year">Release year</label>
                            <input name="release_year" type="text" class="form-control" id="release_year" placeholder="Enter release year">
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Đạo diễn</label>
                            <div class="select2-purple">
                            <select class="form-control select2" multiple="multiple" data-placeholder="Select directors" id="director"
                                    style="width: 100%;">
                                <option th:each="director:${directors}" th:value="${director.id}" th:text="${director.name}">Music</option>
                            </select>
                            </div>

                        </div>

                        <div class="form-group ">
                            <label>Diễn viên</label>
                            <div class="select2-purple">
                            <select class="form-control select2" multiple="multiple" data-placeholder="Select actors" id="actor"
                                    style="width: 100%;">
                                <option th:each="director:${actors}" th:value="${director.id}" th:text="${director.name}">Music</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control select2-purple"  data-placeholder="Select a Country" id="country"
                                    style="width: 100%;">
                                <option th:each="director:${countries}" th:value="${director.id}" th:text="${director.name}">Music</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Thể loại</label>
                            <div class="select2-purple">
                            <select class="form-control select2 " multiple="multiple" data-placeholder="Select genres" id="genre"
                                    style="width: 100%;">
                                <option th:each="director:${genres}" th:value="${director.id}" th:text="${director.name}">Music</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label>Loại phim</label>
                            <select class="form-control select2-purple  "   id="type"
                                    >
                                <option th:each="type:${types}" th:value="${type}" th:text="${type}">Music</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">Submit</button>

                    </div>

                </div>
            </form>
        </section>


    </div>
    </th:block>

</div>
<th:block id="js">

<!--summer note-->
<!-- include summernote css/js -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!--Jquery validate-->

<script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

<script th:inline="javascript">
    const curUser = [[${session.currentUser}]];
</script>


<script>
    //Initialize Select2 Elements
    $("#type").select2();
    $("#director").select2();
    $("#actor").select2();
    $("#country").select2();
    $("#genre").select2();
    let director, actor, country, genre, type;

    // Event listener for when an option is removed
    $('#director').on('select2:unselect', function (e) {
        director = $(this).val();
        console.log(director);
    });
    $('#actor').on('select2:unselect', function (e) {
        actor = $(this).val();
        console.log(actor);
    });

    $('#genre').on('select2:unselect', function (e) {
        genre = $(this).val();
        console.log(genre);
    });


    $('#movieForm').validate({
        rules: {
            title: {
                required: true,
                minlength: 5
            },
            description: {
                required: true,
                minlength: 5
            },
            url_movie: {
                required: true,
                minlength: 10
            },
        },
        messages: {
            title: {
                required: "Please enter a title",
                minlength: "Your title must consist of at least 5 characters"
            },
            description: {
                required: "Please enter a description",
                minlength: "Your description must consist of at least 5 characters"
            },
            url_movie: {
                required: "Please enter a url",
                minlength: "Your url must consist of at least 10 characters"
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
    document.addEventListener("DOMContentLoaded", function() {
        const movieForm = document.getElementById('movieForm');

        movieForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            // Get values from form fields
            let name = document.getElementById('title').value;
            let description = document.getElementById('description').value;
            let releaseYear = document.getElementById('release_year').value;
            let type = $('#type').val();
            let status = document.getElementById('status').value === "1";
            let trailer = document.getElementById('url_movie').value;
            let countryId = $('#country').val();
            let genres = $('#genre').val();
            let actors = $('#actor').val();
            let directors = $('#director').val();

            if (!$('#movieForm').valid()) {
                return;
            }

            const data = {
                name: name,
                description: description,
                releaseYear: parseInt(releaseYear),
                type: type,
                status: status,
                trailer: trailer,
                countryId: parseInt(countryId),
                genres: genres.map(Number), // Convert string array to number array
                actors: actors.map(Number), // Convert string array to number array
                directors: directors.map(Number)
            };
            console.log(data)

            try {
                const res = await axios.post(`/api/admin/movies`, data,);
                toastr.success('Tạo movie successfully');
                setTimeout(() => {
                    window.location.href = '/admin/movie';
                }, 2000);
            } catch (e) {
                console.log(e)
                toastr.error(e.response.data.message);
            }
        });

    });


</script>
</th:block>
</body>

</html>