<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: layout(~{::title},~{::#css},~{::#content},~{::#js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chi tiết phim</title>
    <th:block id="css">

    <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="/admin-assets/dist/css/style.css">

    <!--    summer note-->

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    </th:block>


</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block id="content">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movie">Phim</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tạo phim
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content" >
            <form id="movieForm">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group col-10">
                                <label for="title">Tên phim</label>
                                <input th:value="${movie.name}" name="title" type="text" class="form-control" id="title" placeholder="Enter name">
                            </div>
                            <div class="form-group col-2">
                                <label for="status">Status</label>
                                <select th:value="${movie.getStatus() ? 'Nháp' : 'Công khai' }" id="status" class="form-control ">
                                    <option value="0">Nháp</option>
                                    <option value="1">Công Khai</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea th:value="${movie.description}" name="description" type="text" class="form-control" id="description" placeholder="Enter description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="url_movie">Url trailer</label>
                            <input th:value="${movie.getTrailer()}" name="movie" type="text" class="form-control" id="url_movie" placeholder="Enter url movie">
                        </div>
                        <div class="form-group">
                            <label for="release_year">Release year</label>
                            <input name="release_year" th:value="${movie.getReleaseYear()}" type="text" class="form-control" id="release_year" placeholder="Enter release year">
                        </div>
                        <div class="form-group">

                            <p class="text-bold">Thumbnail</p>
                            <img id="avatar" class="rounded avatar-user col-6" th:src="${movie.getPoster()}" alt="avatar" style="" onclick="document.getElementById('fileInput').click()">
                            <input id="fileInput" type="file" style="display: none;" onchange="loadFile(event)">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Đạo diễn</label>
                            <div class="select2-purple">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Select directors" id="director"
                                        style="width: 100%;">
                                    <option th:each="director:${directors}" th:value="${director.id}" th:text="${director.name}">Music</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group ">
                            <label>Diễn viên</label>
                            <div class="select2-purple">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Select actors" id="actor"
                                        style="width: 100%;">
                                    <option th:each="director:${actors}" th:value="${director.id}" th:text="${director.name}">Music</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control select2-purple"  data-placeholder="Select a Country" id="country"
                                    style="width: 100%;">
                                <option th:each="director:${countries}" th:value="${director.id}" th:text="${director.name}">Music</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Thể loại</label>
                            <div class="select2-purple">
                                <select class="form-control select2 " multiple="multiple" data-placeholder="Select genres" id="genre"
                                        style="width: 100%;">
                                    <option th:each="director:${genres}" th:value="${director.id}" th:text="${director.name}">Music</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label>Loại phim</label>
                            <select class="form-control select2-purple  "   id="type"
                            >
                                <option th:each="type:${types}" th:value="${type}" th:text="${type}">Music</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">Submit</button>

                        <button type="button" id="delete"  class="btn btn-danger ml-2 mt-2">
                            Xoá
                        </button>
                    </div>

                </div>
            </form>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <h4 class="mb-3">Danh sách tập phim</h4>
                        <button type="button" class="mb-3 btn btn-primary" data-toggle="modal" data-target="#addEpisodeModal">Thêm tập phim</button>                        <table class="table table-bordered table-hover bg-light " id="table-blog">
                            <thead>
                            <tr>
                                <th>TT</th>
                                <th>Tên tập phim</th>
                                <th>Thời lượng</th>
                                <th>Url phim</th>
                                <th>Thời gian tạo</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="episode, iterStat : ${episodes}">
                                <td th:text="${episode.orders}">1</td>
                                <td th:text="${episode.name}">Tập 1</td>
                                <td th:text="${episode.duration}">1h30</td>
                                <td th:text="${episode.getVideo_url()}">url</td>
                                <td th:text="${episode.getCreatedAt()}">2021-10-10</td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" th:attr="data-target='#trailerModal'+${episode.orders}"><i class="fas fa-play"></i></button>
                                    <button class="btn btn-warning text-white"><i class="fas fa-upload"></i></button>
                                   <a th:href="@{/admin/movie/episode/{id} (id=${episode.id})}"><button  class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button ></a>
                                    <button id="deleteBtn" class="btn btn-danger" th:attr="data-id=${episode.id}"><i class="fas fa-trash-alt"></i></button>                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--modal add-->
            <div class="modal fade" id="addEpisodeModal" tabindex="-1" role="dialog" aria-labelledby="addEpisodeModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addEpisodeModalLabel">Thêm tập phim</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addEpisodeForm">
                                <div class="form-group">
                                    <label for="name_episode">Tên tập phim</label>
                                    <input type="text" class="form-control" id="name_episode" name="name_episode" value="Episode: " required>
                                </div>
                                <div class="form-group">
                                    <label for="order_episode">Thứ tự tập phim</label>
                                    <input type="number" class="form-control" id="order_episode" name="order_episode" th:value="${episodes.size()+1}" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" form="addEpisodeForm">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>

<!--            trailer-->
            <div th:each="episode : ${episodes}" class="modal fade" th:id="'trailerModal'+${episode.orders}" tabindex="-1" role="dialog" aria-labelledby="trailerModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="trailerModalLabel">Trailer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe id="trailerIframe" width="100%" height="315" th:src="${episode.getVideo_url()}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>
    </th:block>



</div>
<th:block id="js">

<!--summer note-->
<!-- include summernote css/js -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

<script th:inline="javascript">
    const curUser = [[${session.currentUser}]];
    const movieActor = [[${movie.actors}]];
    const movieDirector = [[${movie.directors}]];
    const movieGenre = [[${movie.genres}]];
    const movieCountry = [[${movie.country}]];
    const movieType = [[${movie.type}]];
    const movie = [[${movie}]];

</script>


<script>
    //Initialize Select2 Elements
    $("#type").select2();
    $("#director").select2();
    $("#actor").select2();
    $("#country").select2();
    $("#genre").select2();

    $(document).ready(function () {
        $('#actor').val(movieActor.map(actor => actor.id));
        $('#actor').trigger('change');
        $('#director').val(movieDirector.map(director => director.id));
        $('#director').trigger('change');
        $('#genre').val(movieGenre.map(genre => genre.id));
        $('#genre').trigger('change');
        $('#country').val(movieCountry.id);
        $('#country').trigger('change');
        $('#type').val(movieType);
        $('#type').trigger('change');
        $('#description').val(movie.description);
        $('#status').val(movie.status ? '1' : '0');
    });

    function loadFile(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('avatar');
            output.src = reader.result;
        };
        console.log(event.target.files[0])
    }

    // JavaScript
    const fileInput = document.getElementById('fileInput');
    fileInput.addEventListener('change', function (event) {
        const files = event.target.files;

        // Create a FormData object and append the file
        var formData = new FormData();
        formData.append('avatar', files[0]);

        // Send a POST request to the API
        axios.post('/api/admin/movies/' + movie.id +'/upload', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }).then(function (response) {
            console.log(response);
            toastr.success("Cập nhật poster thành công");
            setTimeout(() => {
                window.location.reload();
            }, 2000);
        }).catch(function (e) {
            console.error(e);
            toastr.error(e.response.data.message);
        });
    });



</script>
<script>
    $('#movieForm').validate({
        rules: {
            title: {
                required: true,
                minlength: 5
            },
            description: {
                required: true,
                minlength: 5
            },
            url_movie: {
                required: true,
                minlength: 10
            },
        },
        messages: {
            title: {
                required: "Please enter a title",
                minlength: "Your title must consist of at least 5 characters"
            },
            description: {
                required: "Please enter a description",
                minlength: "Your description must consist of at least 5 characters"
            },
            url_movie: {
                required: "Please enter a url",
                minlength: "Your url must consist of at least 10 characters"
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
    document.addEventListener("DOMContentLoaded", function() {
        const movieForm = document.getElementById('movieForm');

        movieForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            // Get values from form fields
            let name = document.getElementById('title').value;
            let description = document.getElementById('description').value;
            let releaseYear = document.getElementById('release_year').value;
            let type = $('#type').val();
            let status = document.getElementById('status').value;
            let trailer = document.getElementById('url_movie').value;
            let countryId = $('#country').val();
            let genres = $('#genre').val();
            let actors = $('#actor').val();
            let directors = $('#director').val();

            if (!$('#movieForm').valid()) {
                return;
            }

            const data = {
                name: name,
                description: description,
                releaseYear: parseInt(releaseYear),
                type: type,
                status: status === '1' ? true : false,
                trailer: trailer,
                countryId: parseInt(countryId),
                genres: genres.map(Number), // Convert string array to number array
                actors: actors.map(Number), // Convert string array to number array
                directors: directors.map(Number)
            };
            console.log(data)

            try {
                const res = await axios.put(`/api/admin/movies/` + movie.id , data,);
                toastr.success('Change movie successfully');
                setTimeout(() => {
                    window.location.href = '/admin/movie';
                }, 2000);
            } catch (e) {
                console.log(e)
                toastr.error(e.response.data.message);
            }
        });

    });

    const deleteBtn = document.getElementById('delete');

    deleteBtn.addEventListener('click', async () => {
            try {
                const res = await axios.delete(`/api/admin/movies/${movie.id}`);
                toastr.success('Delete movie successfully');
                window.location.href = '/admin/movie';
            } catch (e) {
                console.log(e);
                toastr.error(e.response.data.message);
            }

        });

</script>
<script>
    document.getElementById('addEpisodeForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        // Get form data
        let name_episode = document.getElementById('name_episode').value;
        let order_episode = document.getElementById('order_episode').value;

        // Create a new object for the data
        let data = {
            name: name_episode,
            order: parseInt(order_episode)
        };
        console.log(data);

        try {
            // Send a POST request to the API endpoint
            const res = await axios.post(`/api/admin/episode/${movie.id}`, data);
            toastr.success('Add episode successfully');
        } catch (error) {
            console.error('Error:', error);
            toastr.error(error.response.data.message);
        }
    });
    document.querySelectorAll('#deleteBtn').forEach(function(button) {
        button.addEventListener('click', function() {
            const id = this.getAttribute('data-id');
            console.log(id);
            axios.delete(`/api/admin/episode/${id}`)
                .then(function(response) {
                    console.log(response);
                    toastr.success('Episode deleted successfully');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                })
                .catch(function(error) {
                    console.log(error);
                    toastr.error(error.response.data.message);
                });
        });
    });

</script>
</th:block>

</body>

</html>