<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-link">
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'}"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/img/favicon2.png}" />
    <title>WPhim</title>
    </head>
<body>

<header th:fragment="header-frag" >
    <div class="bg-dark ">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container">
                <a class="navbar-brand" href="/">
<!--                    <img src="https://motchilltv.ac/_ipx/f_webp&s_150x35/logo.png" alt="logo"></a>-->
                    <img th:src="@{/img/logo21.png}" alt="logo" style="width: 100px;height: auto;"></a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-2">
                        <li class="nav-item ">
                            <a class="nav-link text-white active" aria-current="page" href="/">Trang chủ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/tvshow">Phim bộ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/movie">Phim lẻ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/movietheater">Phim chiếu rạp</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item right-corner">
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" th:if="${session.currentUser == null}">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Login/Register
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" href="/login">Login</a></li>
                                            <li><a class="dropdown-item" href="/register">Register</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdownUser" th:if="${session.currentUser != null}">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.currentUser.getName()}">
                                            username!
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" href="/login" th:if="${session.currentUser.role == 'Admin' }">Admin page</a></li>
                                            <li><a class="dropdown-item" href="/">User Info</a></li>
                                            <li><a class="dropdown-item" href="/">Recently watch</a></li>
                                            <li><a class="dropdown-item" href="/">Your favourite</a></li>
                                            <li><a class="dropdown-item" id="logout">Log out</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<div th:fragment="footer-link">
    <script th:src="@{/js/login-logout.js}"></script>
<script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'}" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'}" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</div>

</body>
</html>