<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-link">
    <title>Blog</title>
</head>
<body>
<div class="container bg-dark">
    <header th:insert="~{fragments/header.html :: header-frag}"></header>





    <section class="py-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="p-2 text-white" >Danh sách Blog</h3>
            </div>
            <div class="text-white">
                <div th:each="blog : ${listBlog.getContent()}" class="text-dark">
                    <a th:href="@{'/blogdetail/' + ${blog.id}+'/'+${blog.slug}}">
                        <div class="mt-4">
                            <div class="bg-body-tertiary p-4 rounded text-dark">
                                <h5 th:text="${blog.title}"></h5>
                                <p th:text="${#temporals.format(blog.createdAt, 'dd/MM/yyyy')}"></p>
                                <p class="mb-0" th:text="${blog.description}"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${listBlog.first ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/blog(page=${currentPage - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, listBlog.getTotalPages())}"
                            th:classappend="${currentPage == listBlog.number ? 'active' : ''}">
                            <a class="page-link" th:href="@{/blog(page=${pageNumber})}" th:text="${pageNumber}"></a>
                        </li>
                        <li class="page-item" th:classappend="${listBlog.last ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/blog(page=${currentPage + 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </section>

    <div th:insert="fragments/footer.html :: footer-ul"></div>

</div>

<div th:insert="fragments/header.html :: footer-link"></div>
</body>
</html>