<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-link">
    <title>Blog</title>
</head>

<body>
<div class="container bg-dark">
    <header th:insert="~{fragments/header.html :: header-frag}"></header>

    <div class="container text-white">
        <h3 th:text="${blog.getTitle()}"></h3>
        </h3>
        <p th:text="${#temporals.format(blog.getCreatedAt(), 'dd/MM/yyyy')}"></p>
        <p class="mb-0" th:text=" ${blog.getDescription()}"></p>
        <img th:src="${blog.getThumbnail()}" alt="blog" class="img-fluid mx-auto d-block mt-4 mb-4">
        <p th:text="   ${blog.getContent()}"></p>
    </div>



    <div class="mt-4 text-white container">
        <h4>Để lại bình luận</h4>
        <div class="comment-sec bg-black text-white p-4 rounded">
            <div class="comment ">
                <div class="row" th:each="review : ${listReview}">
                    <div class="col-2" >
                        <img th:src="${review.getUser().getAvatar()}"
                             class="profile-pic rounded-circle" alt="logo">
                        <span th:text="${#temporals.format(review.getCreatedAt(), 'dd/MM/yyyy')}"></span>
                        <p class="ms-5" th:text="${review.getUser().getName}"></p></div>
                    <div class="col-10 mt-4 ">
                        <p th:text="${review.getContent()}"></p>
                    </div></div>


            </div>


            <div class="user-cmt">
                <h4>Gửi bình luận</h4>
                <div class="row">
                    <div class="col-2">
                        <img
                                src="https://static.vecteezy.com/system/resources/thumbnails/020/911/740/small_2x/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png"
                                class="profile-pic" alt="logo">
                        <p class="ms-4">Guest</p>
                    </div>
                    <div class="col-10 " >
                        <input type="text" class="form-control" style="height: 180px;" placeholder="Nhập bình luận">
                    </div>

                </div>
                <div class="d-flex  justify-content-end">
                    <button class="btn btn-primary mt-2">Gửi</button>
                </div>

            </div>
        </div>
    </div>



</div>
                </div>
            </div>



<div th:insert="fragments/footer.html :: footer-ul"></div>

        </div>
</div>

<div th:insert="fragments/header.html :: footer-link"></div>
</body>

</html>