<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Trang chu</title>
</head>

<body>
<div class="container bg-dark">
    <header class="bg-dark ">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="https://motchilltv.ac/_ipx/f_webp&s_150x35/logo.png" alt="logo"></a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-2">
                        <li class="nav-item ">
                            <a class="nav-link text-white active" aria-current="page" href="/">Trang chủ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/tvshow">Phim bộ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/movie">Phim lẻ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/movietheater">Phim chiếu rạp</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container text-white ">
        <div class="d-flex align-items-center p-3 content-bg" >
            <h6><a href="index.html" class="text-primary">Trang chủ </a>  >  <a href="film-detail.html" class="text-primary " th:text="'Phim ' + ${movie.getCountry().getName()}"> Trung Quốc </a>  > <span th:text="${movie.getName()}"></span></h6>
        </div>
        <div class="d-flex align-items-center mt-2 p-3 " style="background-color: #18181B;border-radius: 8px;">
            <div class="d-flex justify-content-between">
                <div class="">
                    <img th:src="${movie.getPoster()}" class="" style=" height: 350px;object-fit: cover;border-radius: 15px" alt="poster-flim" >
                </div>
                <div class="ms-5 ">
                    <div class="row" style="width: 50%">
                    <div class="col">
                        <button type="button" class="btn btn-lg btn-primary mb-4 rounded-pill">
                            Xem phim
                        </button>
                    </div>
                    <div class="col">
                        <a >
                        <button type="button" class="btn btn-lg btn-primary mb-4 rounded-pill">
                            Trailer
                        </button></a>
                    </div>
                    </div>
                    <h3 th:text="${movie.getName()}">Film detail</h3>
                    <p>Số lượt xem: <span class="text-primary">781230</span> </p>
                    <p>Thể loại:  <span class="text-primary" th:each="gen, pos : ${movie.getGenres()}"
                                        th:text="${gen.getName()} + ${pos.last ? '' : ', '}"></span> </p>
                    <p>Đạo diễn:
                        <span th:each="director, pos : ${movie.getDirectors()}"
                              th:text="${director.getName()} + ${pos.last ? '' : ', '}"></span>
                    </p>
                    <p>Diễn viên:
                        <span th:each="actor, pos : ${movie.getActors()}"
                              th:text="${actor.getName()} + ${pos.last ? '' : ', '}"></span>
                    </p>
                    <p class="mt-3" th:text="${movie.getDescription()}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima illo accusamus fugiat praesentium, ratione quam itaque dolor iste tenetur expedita error nobis repellat, optio exercitationem non ipsam porro tempore
                    </p>
                    <p th:text="'Rating: ' +${movie.getRating()}+'⭐'"></p>



                </div>

            </div>


        </div>
        <div th:if="${listEpisode != null and listEpisode.size() > 0}" class="row container mt-4 p-3" style="background-color: #18181B;border-radius: 8px;">
            <h5 >Danh sách tập</h5>

            <div th:each="episode: ${listEpisode}" class="col-2 ">
                <button type="button" class="btn btn-primary mb-2 width-100px"
                        th:text="${#strings.length(episode.name) > 20 ? #strings.substring(episode.name, 0, 17) + '...' : episode.name}">
                </button>
            </div>
        </div>
        <div class="container mt-4">
            <h5>Phim đề xuất</h5>
            <div class="row">
                <div th:each="movie : ${listSameType.getContent()}" class="col-3">
                    <div class="rounded overflow-hidden" >
                        <a th:href="@{'/moviedetail/' + ${movie.id}+'/'+${movie.slug}}">
                        <img th:src="${movie.getPoster}" class="card-img-top" alt="..." style=" height: 350px;object-fit: cover;border-radius: 15px">
                            <h5 class="card-title" th:text="${movie.getName}"></h5>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="mt-4 text-white container">
        <h4>Để lại bình luận</h4>
        <div class="comment-sec bg-black text-white p-4 rounded">
            <div class="comment ">
                <div class="row" th:each="review : ${listReview}">
                <div class="col-2" >
                    <img th:src="${review.getUser().getAvatar()}"
                         class="profile-pic rounded-circle" alt="logo">
                    <span th:text="${#temporals.format(review.getCreatedAt(), 'dd/MM/yyyy')}"></span>
                    <p class="ms-5" th:text="${review.getUser().getName}"></p></div>
                    <div class="col-10 mt-4 ">
                        <p th:text="${review.getContent()}"></p>
                    </div></div>


            </div>


                    <div class="user-cmt">
                        <h4>Gửi bình luận</h4>
                        <div class="row">
                            <div class="col-2 border border-white">
                                <img
                                        src="https://static.vecteezy.com/system/resources/thumbnails/020/911/740/small_2x/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png"
                                        class="profile-pic" alt="logo">
                                <p class="ms-4">Guest</p>
                            </div>
                            <div class="col-10 border border-white" >
                                <input type="text" class="form-control" style="height: 180px;" placeholder="Nhập bình luận">
                            </div>

                        </div>
                        <div class="d-flex  justify-content-end">
                            <button class="btn btn-primary mt-2">Gửi</button>
                        </div>

                    </div>
                </div>
            </div>


                <footer class="bg-dark text-white mt-4 p-4 container">
    <div class="row">
        <div class="col-3">
            <img src="https://motchilltv.ac/_ipx/f_webp&s_150x35/logo.png" alt="logo">
            <p class="mt-2"> <span style="color: white;">Motchill</span> - Trang web xem phim trực tuyến miễn phí chất
                lượng cao với giao diện trực quan, tốc độ tải trang nhanh, cùng kho phim với hơn 10.000+ phim mới, phim
                hay, luôn cập nhật phim nhanh, hứa hẹn sẽ đem lại phút giây thư giãn cho bạn.</p>
        </div>
        <div class="col-3">
            <h5>Liên kết</h5>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Phim bộ</a></li>
                <li><a href="#">Phim lẻ</a></li>
                <li><a href="#">Phim chiếu rạp</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Danh mục</h5>
            <ul>
                <li><a href="#">Phim Cổ Trang
                </a></li>
                <li><a href="#">Phim Mỹ
                </a></li>
                <li><a href="#">Phim Lẻ</a></li>
                <li><a href="#">Phim Chiếu Rạp</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Điều khoản</h5>
            <ul>
                <li><a href="#">DMCA</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">CSKH</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
    </div>

</footer>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>