<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-link">
    <title>Login</title>
</head>
<body>
<div class="container bg-dark">

    <header th:insert="~{fragments/header.html :: header-frag}"></header>

    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3">Login</h2>
                    </div>
                    <div class="card-body ">
                        <form id="form-login" >
                            <div class="mb-4 form-group">
                                <label for="loginInput" class="form-label">Email</label>
                                <input type="text" class="form-control" id="loginInput" name="email" />
                            </div>
                            <div class="mb-4 form-group">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordInput" name="password"/>
                            </div>
                            <div class="mb-4">
                                <input type="checkbox" class="form-check-input" id="remember" />
                                <label for="remember" class="form-label" >Remember Me</label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn text-light bg-secondary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="fragments/footer.html :: footer-ul"></div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js" integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>

    //validate formLogin
     $('#form-login').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                    minlength: 3
                },
            },
            messages: {
                email: {
                    required: "Please enter a email address",
                    email: "Please enter a valid email address"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

    //xu ly login
    const formLogin = document.getElementById('form-login');
    const Email = document.getElementById('loginInput');
    const Password = document.getElementById('passwordInput');

    formLogin.addEventListener("submit", async (e) => {
        e.preventDefault();

        if (!$('#form-login').valid()) {
            return;
        }


        const data = {
            email: Email.value,
            password: Password.value
        }
        try {
            const response = await axios.post('/api/auth/login', data);
            toastr.success("Đăng nhập thành công");
            setTimeout(() => {
                window.location.href = '/';
            }, 1000);
        }
        catch (e) {
            console.log(e);
            toastr.error(e.response.data.message)
        }

    });



</script>

</body>

</html>