<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo7.png">
    <title>Phim chiếu rạp</title>
</head>
<body>
<div class="container bg-dark">
    <header th:insert="~{fragments/header.html :: header-frag}"></header>


    <section class="py-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="p-2 text-white" >Danh sách phim chiếu rạp</h3>
            </div>
            <div class="row text-white">
                <div th:each="movie : ${pageData.getContent()}" class="col-2">
                    <div class="rounded overflow-hidden" >
                        <a th:href="@{'/moviedetail/' + ${movie.id}+'/'+${movie.slug}}">

                        <img th:src="${movie.getPoster}" class="card-img-top" alt="..." style=" height: 300px; object-fit: cover;border-radius: 15px">                        <div class="">
                        <h5 class="card-title" th:text="${movie.getName}"></h5>
                    </div>
                    </a>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${pageData.first ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/movietheater(page=${currentPage - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, pageData.getTotalPages())}"
                            th:classappend="${currentPage == pageData.number ? 'active' : ''}">
                            <a class="page-link" th:href="@{/movietheater(page=${pageNumber})}" th:text="${pageNumber}"></a>
                        </li>
                        <li class="page-item" th:classappend="${pageData.last ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/movietheater(page=${currentPage + 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </section>

    <div th:insert="fragments/footer.html :: footer-ul"></div>


</div>

<div th:insert="fragments/header.html :: footer-link"></div>
</body>
</html>